<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <app-grafica-dona [Leyenda]="graficos.grafico1.leyenda" [Data]="graficos.grafico1.data" [Labels]="graficos.grafico1.labels" [Type]="graficos.grafico1.type"></app-grafica-dona>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <app-grafica-dona [Leyenda]="graficos.grafico2.leyenda" [Data]="graficos.grafico2.data" [Labels]="graficos.grafico2.labels" [Type]="graficos.grafico2.type"></app-grafica-dona>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <app-grafica-dona [Leyenda]="graficos.grafico3.leyenda" [Data]="graficos.grafico3.data" [Labels]="graficos.grafico3.labels" [Type]="graficos.grafico3.type"></app-grafica-dona>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <app-grafica-dona [Leyenda]="graficos.grafico4.leyenda" [Data]="graficos.grafico4.data" [Labels]="graficos.grafico4.labels" [Type]="graficos.grafico4.type"></app-grafica-dona>
            </div>
        </div>
    </div>
</div>